<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
      <a class="delete" data-doc="<%= blog._id %>"> <img src="/trashcan.svg"></a>
    </div>
    <script>
    const trash=document.querySelector("a.delete")
    trash.addEventListener("click",(event)=>{

          const dellink= `/blogs/${trash.dataset.doc}`
          fetch(dellink,{
             method:"DELETE"
          })
          .then(res=>res.json())
          .then(data=>window.location.href=data.redirect)
          .catch(err=>console.log(err))
    })
      




    </script>
  <%- include("./partial/footer.ejs") %>
</body>
</html>